<div class="delete_section" id="deleteEmployeeForm">
    <div class="top">
        <h3 class="heading">Delete Employee</h3>
        <div class="close_btn">
            <button onclick="closefunction()" class="head_close_btn"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
    <div class="content_section">
        <div class="sentence">
            <p class="warning">Are you sure you want to delete this employee?</p>
        </div>
        <div class="final_delete_section">
            <button class="final cancel"  onclick="closefunction()">cancel</button>
            <button class=" final delete"  id="confirmDelete">Yes, Delete</button>
        </div>
    </div>

</div>