<div class="main_head">
    <div class="title">
        <h6>Dashbord/Employees</h6>
        <h3 class="employe">Employees</h3>
    </div>
    <div class="side_bar">
        <div class="input">
            <input onkeyup="searchEmployee()" id="searchInput" class="input-search" placeholder="&#xF002;   Search"
                style="font-family:Arial, FontAwesome">
            <i class="fa-regular fa-bell bell_icon"></i>
        </div>

        <div class="img_icon">
            <img src="../public/image/Avatar Style 6.png" alt="">
        </div>

    </div>
</div>