<div class="pagination_content nextbutton">
    <div class="pagination" id="pagination">
        <a id="pageleft">&lt;</a>
        <div class="pagination" id="Page_Num_Btns" style="display: flex; gap: 7px;">
            
        </div>
        <a  id="pageright">&gt;</a>                           
    </div>
</div>