<div class="col-lg-2 side_section">
    <div class="header">
        <h3 class="emp">Employee</h3>
        <h3 class="mag">Management</h3>
    </div>
    <div class="body_section">
        <ul class="list_iteams">
            <li><i class="fa-solid fa-house"></i>Dashbord</li>
            <li><i class="fa-solid fa-chart-simple"></i>Employees</li>
            <li><i class="fa-solid fa-user"></i>My Profile</li>
            <!-- <li><i class="fa-solid fa-lock"></i>Logout</li> -->
            <form action="api/users/logout" method="get">
                <button class="logoutbtn" type="submit"><i class="fa-solid fa-lock"></i>Logout</button>
            </form>
        </ul>
    </div>
    <div class="footer_section">
        <div class="footer">
            <h6 class="text">Powered By</h6>
            <img src="../public/image/image 1.png" alt="">
        </div>
    </div>
</div>




