<table class="table">
    <thead>
        <tr>
            <th>Sl No <i class="fa-solid fa-angle-down"></i></th>
            <th>Name <i class="fa-solid fa-angle-down"></i></th>
            <th>Email <i class="fa-solid fa-angle-down"></i></th>
            <th>phone <i class="fa-solid fa-angle-down"></i></th>
            <th>Gender <i class="fa-solid fa-angle-down"></i></th>
            <th>DOB <i class="fa-solid fa-angle-down"></i></th>
            <th>Country <i class="fa-solid fa-angle-down"></i></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
     
    </tbody>
    
        
</table>