<div class="water_mark">
    <div class="watermark_text">
        <p class="last_text">© 2023 All Rights.</p> <p class="extra_text">Stackup</p>
   </div>
   <div class="terms">
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
    </div>
</div>